footer {
    background-color: #2C3E50;
    color: white;
    padding: 1rem 0.5rem;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    border: 0.1rem solid #CFE5FF;
}

.head-text {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    width: 100%;
}

.head-text>div {
    margin: 0.5rem;
    flex: 1 1 8rem;
}

h2 {
    font-size: 1.6rem;
    margin-bottom: 0.5rem;
    margin-left: 2.5rem;
    text-shadow: 0.1rem 0.1rem 1rem rgba(1, 1, 1, 1);
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 0.3rem 0;
    padding-top: 0.5rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

a {
    font-size: 1.1rem;
    color: white;
    text-decoration: none;
    margin-left: 2.5rem;
    text-shadow: 0.1rem 0.1rem 0.2rem rgba(1, 1, 1, 1);
}

a:hover {
    text-decoration-line: underline;
    transition: 0.3s ease;
    color: cornsilk;
    font-style: italic;
}

.policies {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}

.policies a {
    font-size: 1.4rem;
    text-shadow: 0.1rem 0.1rem 1rem rgba(1, 1, 1, 1);
}